*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    max-height: 100vh; 
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    flex-direction: column;
}
h3{
    display: inline-block;
}
h3 img{
    width: 8%;
    /* height: 40px; */
}
.header_button{
    border-radius: 16px;
    padding: 10px 15px;
    border: 1px solid grey;
}
.header_button:hover{
    background: rgba(201, 199, 199, 0.938);
}
.user{
    background: teal;
    padding: 5px 10px 2px;
    border-radius: 50%;
    color: rgba(245, 245, 245, 0.877);
}
sup{
    color: grey;
    font-size: 10px;
}
.all{
    background: black;
    color: whitesmoke;
    border: none;
}
input{
    padding: 10px 130px;
    border: 2px solid grey;
    /* margin-right: 50px; */
    transform: translateX(-200px);
}
input::placeholder{
    margin: 0 auto;
}
.initial_h{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0 10px;
}
.youtube{
    margin-left: 70px;
}
form button{
    background: blue;
    border: none;
    outline: none;
    padding: 10px 10px;
}
.search{
    margin-right: 30px;
}
.final_h{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
    padding: 10px 0;
    border-bottom: 0.5px solid grey;
    border-top: 0.5px solid grey;
}
/* .header_2{

} */
/* .header_2 button{
    background: none;
    border: none;
    outline: none;
} */
.hero{
    background: rgb(235, 234, 234);
    display: grid;
    grid-template-columns: repeat(4, minmax(90px, 1fr));
    grid-gap: 40px;
    padding: 20px 0;
}
p{
    color: gray;
}